body {
    background-color: #eee;
}

.wrapper {
    background-color: #fff;
    height: 100vh;
}

.form-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-centered .flag { line-height: 34px; }

.copyright {
    margin-bottom: 0;
    background-color: #eee;
}

.user-profile { margin: 50px; }

.search { margin-bottom: 20px; }

.add-course { margin-right: 15px; }

.course-item {
    border: 1px solid #000;
    margin: 15px 0;
}

.course-control { margin: 10px 0; }

.noresize { resize:none; }